<h1>Questions</h1>

<%= render 'shared/errors', resource: @question %>
<table>
  <thead>
    <tr>
      <th>Question title</th>
      <th>Description</th>
      <th>Author</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <%= render @questions %>
  </tbody>
  
<table>

<p>
  <%= link_to 'Ask question', new_question_path(@question) %>
</p>
