<tr>
  <td><%= answer.body %></td>
  <td>
  <% if answer.body.present? %>
    <%= link_to 'Delete', answer_path(answer),
                       method: :delete,
                       data: {confirm: 'Вы уверены?'} %>
  <% end %>
  </td>
</tr>
